.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    
    background-color: hsl(13, 31%, 94%);
    margin: 0;
}
main {
    display: flex;
}
aside {
    width: 10%;
}
.center {
    width: 50%;
    margin: 0 10%;
}
.productColumn {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
.productDiv {
    margin: 3%;
}
.productDiv p{
    margin: 0;
}
.productText {
    margin: 10% 0;
}
.img { /* Imagem em si de cada comida*/
    display: block;
    width: 100%;
    border-radius: 20px;
}
.name { /* Nome dos itens */
    font-weight: bold;
}
.category { /* Categoria dos itens */
    color: gray;
}
.divImage { /* Alinhamento que faz o botão ficar "no meio" da imagem */
    position: relative;
    display: flex;  
    flex-direction: column;
    align-items: center;
}
.productButton{ /* Botão padrão */
    width: 60%;
    display: flex;
    position: absolute;
    bottom: -15px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 5px 0;
    font-size: 0.7em;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
}
.quantity { /* Botão já com as quantidades */
    display: flex;
    background-color: hsl(14, 86%, 42%);

}
.changeCartDiv { /* Div de adição e remoção do carrinho*/
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    padding: 2px;
    
}
@media only screen and (max-width: 425px){
    .productColumn {
        display: grid;
        grid-template-rows: repeat(auto, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
    .center{
        width: 100%;
    }
}
.cartDiv, .cartDiv div{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 3%;
}
.cart {
    margin: 2%;

}